header {
    background-color: #333;
    height: 100px;
}

#drogadiccion{
    display: none;
}; 

#root2{
    display: none;
}; 

#root3{
    display: none;
}


.bold {
    font-weight: 500;
}

#root4{
    display: none;
}

.text{
    font-family: Sans-serif;
    font-size: 20px;
    text-align: center;
    color: #333;
}

.tittle{
    text-align: center;
}

#information{
    align-content: ;
}
