body {
    background-color: #fafaf2;
  }
  header {
    background-color: #285867;
    height: 100px;
  }
  footer {
    background-color: #3d3d3d;
    height: 80px;
    color: #FFFFFF;
    
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
  }
  #drogadiccion {
    display: none;
  }
  #sexualidad {
    display: none;
  }
  #bully {
    display: none;
  }
  #migracion {
    display: none;
  }
  .bold {
    font-weight: 500;
  }
  .align-left {
    text-align: left;
  }
  .align-center {
    text-align: center;
  }
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .div-clic {
    background-color: #FFFFFF;
    cursor: pointer;
  }
  .div-clic:hover {
    background-color: #28586767;
  }
  .btn {
    background-color: #1f7a99;
    color: #ffffff;
  }
  .btn:hover {
    background-color: #25b8e8;
    color: #ffffff;
  }
  .title-movie {
    color: #285867;
  }
  h4 {
    color: #262626
  }
  .title-header {
    color: #ffffff;
    font-size: 3.5em;
  }
  .text{
    font-family: Sans-serif;
    font-size: 20px;
    text-align: center;
    color: #333;
  }
  .tittle{
    text-align: center;
  }
  /* ul {
    list-style: none;
  }
  ul li{
    float: left;
    width: 192px;
  } */
  /* 
  #information{
    align-content:
  } */
